__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
mlruns/
.DS_Store
*.log

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
mlflow.db
mlruns/
models/*
!models/.gitkeep
models/*.joblib