__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
mlruns/
.DS_Store
*.log
dvc.yaml
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep
